config.json
logs
test-logs
package-build
large-model-proxy
large-model-proxy-linux-*
large-model-proxy-test
large-model-proxy-test-*
large-model-proxy-*test-*
test-server/test-server
node_modules

.idea/
.llm/
.kilocodemodes
.kilocode
plans
task*.md
